/* Self-hosted Martian Mono variable font
   Source: https://github.com/googlefonts/Martian-Mono (OFL-1.1 license)
   Replaces Sometype Mono — weights 300/400/500 needed for v1.4 visual design
   Replaces Google Fonts remote load — enables app-shell caching in service worker */

@font-face {
  font-family: 'Martian Mono';
  src: url('MartianMono[wght].woff2') format('woff2');
  font-weight: 100 800;
  font-style: normal;
  font-display: swap;
}
